.container-not_yet
  / Page Heading
  .row
    .col-lg-12
      / %h1.page-header
      /   Page Heading
      /   %small Secondary Text
  / /.row
  / Projects Row


  %div{'ng-controller' => 'studentsCtrl'}
    %div{'ng-show' => 'loader.loading'}
      .row
        .col-xs-3
        .col-xs-2
          =image_tag asset_path('ajax-loader.gif')
        .col-xs-7
    .row{'ng-repeat' => 'set in students'}
      .col-xs-12.portfolio-item{'ng-repeat' => 'student in set'}
        / %u
        /   {{student.username}}
        .row
          .col-xs-5
            %profile{image_name: 'student.username'}
            %img.img-rounded{'ng-src' => 'assets/{{student.username}}', style: 'width:100%'}
          .col-xs-7
            %p
              {{student.name}}
            %p
              %history{student: 'student'}



    / Footer
    %footer{'ng-show' => '!loader.loading'} 
      .row
        .col-lg-12
          %p
            %a{href: 'https://github.com/mikefab'} mikefab


          / .col-xs-5

        /       .row
        /         .col-xs-12
        /           %div{style: 'width: 400px'}
        /             %timeline{style: 'font-size: 10px;'}
        /               %timeline-node{:side => 'left', 'ng-repeat' => 'achievement in student.achievement_dates'}
        /                 %timeline-badge.info{style: 'width:10pt;height:10pt;'} 
        /                   %i.glyphicon.glyphicon-check
        /                 %timeline-panel
        /                   %small.text-muted
        /                     %i.glyphicon.glyphicon-time
        /                     {{(achievement[0] * 1000) | amDateFormat:'dddd, MMMM Do YYYY'}}
        /                   %timeline-content
        /                     %p {{achievement[1]}}
        /           / %timeline-node{:side => "right"}
        /           /   %timeline-badge.warning
        /           /     %i.glyphicon.glyphicon-credit-card
        /           /   %timeline-panel
        /           /     %timeline-heading
        /           /       %timeline-title Another twitter post
        /           /       %p
        /           /         %small.text-muted 12 hours ago via Twitter
        /           /     %timeline-content
        /           /       %p Another twitter post goes here            



        / / %span
        / /   / %u
        / /   /   {{student.username}}
        / /   .row
        / /     .col-xs-4
        / /       %img.img-rounded{src: 'assets/{{student.username}}', style: 'width:100%'}
        / /     .col-xs-3
        / /       %langs{langs: 'student.langs'}
        / /     .col-xs-5
        / /       %khan{khan: 'student.khan_exercises'}



        / /.row