.row
  .col-xs-12
    %langs{student: 'student'}
%br
%br

.row
  .col-xs-12
    %khan{khan: 'student.khan_exercises', student: "student"}
%br
%br
.row
  .col-xs-12
    %div.topic{'ng-show' => 'student.codecademy_badges > 0'}
      Codecademy badges: {{student.codecademy_badges}}