.row
  .col-xs-12
    %langs{student: 'student'}
%br

.row
  .col-xs-12
    %khan{khan: 'student.khan_exercises', student: "student"}
%br

.row
  .col-xs-12
    %div{'ng-show' => 'student.codecademy_badges > 0'}
      %div.topic
        Codecademy

      %p
        Badges: {{student.codecademy_badges}} 