%div.topic
  Khan Academy
%p
  Points: {{khan['points']}}
%p
  %div{style: 'font-size:10px'}
    Began
    %span{'ng-show' => "!!khan['exercises'][0]['date']", 'am-time-ago' => "khan['exercises'][khan['exercises'].length-1]['date']"}
    %br
    Last seen
    %span{'ng-show' => "!!khan['exercises'][0]['date']", 'am-time-ago' => "khan['exercises'][0]['date']"}
 
%u

%div.container{'ng-repeat' => "subject in subject_chunks"}
  %br
  .row
    .col-xs-4
      .row
        .row
          .col-xs-3
            %u
              {{subject[0].subject}}
          .col-xs-1{'ng-show' => 'subject[0].perc > 0', style: 'float:left'}
            {{subject[0].perc}}%
          .col-xs-8           
        .row
          .col-xs-12
            .row.lesson_percent{'ng-repeat' => 'k in subject[0].lessons', 'ng-if'=> "$index % 2 == 0"}
              %div.col-xs-5
                .row
                  .col-xs-9
                    %span{'ng-show' => 'subject[0].lessons[$index].percent > 0'} 
                      {{subject[0].lessons[$index].topic}}

                  .col-xs-1
                    %span{'ng-show' => 'subject[0].lessons[$index].percent > 0'}
                      {{subject[0].lessons[$index].percent}}%
                  .col-xs-2
              %div.col-xs-6
                .row
                  .col-xs-9
                    %span{'ng-show' => 'subject[0].lessons[$index+1].percent > 0'}
                      {{subject[0].lessons[$index+1].topic}}

                  .col-xs-1
                    %span{'ng-show' => 'subject[0].lessons[$index+1].percent > 0'}
                      {{subject[0].lessons[$index+1].percent}}%
                  .col-xs-2



    .col-xs-3
      .row
        .row
          .col-xs-3
            %u
              {{subject[1].subject}}
          .col-xs-1{'ng-show' => 'subject[1].perc > 0', style: 'float:left'}
            {{subject[1].perc}}%
          .col-xs-8 
        .row
          .col-xs-12
            .row.lesson_percent{'ng-repeat' => 'k in subject[1].lessons', 'ng-if'=> "$index % 2 == 0"}
              %div.col-xs-6
                .row
                  .col-xs-9
                    %span{'ng-show' => 'subject[1].lessons[$index].percent > 0'} 
                      {{subject[1].lessons[$index].topic}}

                  .col-xs-1
                    %span{'ng-show' => 'subject[1].lessons[$index].percent > 0'}
                      {{subject[1].lessons[$index].percent}}%
                  .col-xs-2
              %div.col-xs-6
                .row
                  .col-xs-9
                    %span{'ng-show' => 'subject[1].lessons[$index+1].percent > 0'}
                      {{subject[1].lessons[$index+1].topic}}

                  .col-xs-1
                    %span{'ng-show' => 'subject[1].lessons[$index+1].percent > 0'}
                      {{subject[1].lessons[$index+1].percent}}%
                  .col-xs-2



%br
%a{'ng-click' => "open('lg')"} {{khan['exercises'].length}} exercises and videos completed




/ %div{'dir-paginate' => "exercise in khan['exercises']| itemsPerPage: 20", "pagination-id" => "student.username"}
/   %strong{style: 'font-size:14px'}
/     %div{'ng-show' => "check_date_change(exercise['date'])", 'am-time-ago' => "exercise['date']"} 

/   %span{style: 'font-size:14px'}
/     {{exercise['exercise_name']}}


/ %ul
/   %li{'dir-paginate' => "group in exercises_by_date| itemsPerPage: 2"}
/     {{group[0]['date']}}

	

/ %table
/   %thead
/     %tr
/       %th Khan Academy
/   %tbody
/     %tr{'ng-repeat' => "exercise in khan['exercises']"} 
/       %td{style: 'font-size:9pt;'} 
/         {{exercise['exercise_name']}}