%div{style: 'font-size:24px'} 
  Khan Academy Points: {{khan['points']}}
%u
  Exercises


%div{'dir-paginate' => "exercise in khan['exercises']| itemsPerPage: 20"}
  %strong{style: 'font-size:14px'}
    %div{'ng-show' => "check_date_change(exercise['date'])", 'am-time-ago' => "exercise['date']"} 

  %span{style: 'font-size:14px'}
    {{exercise['exercise_name']}}


/ %ul
/   %li{'dir-paginate' => "group in exercises_by_date| itemsPerPage: 2"}
/     {{group[0]['date']}}
%dir-pagination-controls

/ %table
/   %thead
/     %tr
/       %th Khan Academy
/   %tbody
/     %tr{'ng-repeat' => "exercise in khan['exercises']"} 
/       %td{style: 'font-size:9pt;'} 
/         {{exercise['exercise_name']}}