%table
  %thead
    %tr
      %th{ style:'padding-right:20px;'}  Duolingo
      %th points
  %tbody
    %tr{'ng-repeat' => 'lang in student.langs'} 
      %td
        {{lang['lang_string']}}
      %td
        {{lang['points']}}


%ul{'ng-repeat' => 'achievement in student.achievement_dates'}
  %li {{achievement.title}}  {{achievement.progress_percent}}% - {{achievement.progress}} lessons
  %div{'ng-show' => "achievement.date", 'am-time-ago' => "achievement.date"} 
  %div{'ng-show' => "!achievement.date", 'am-time-ago' => "student.calendar[0]['d']"}