
{{index}} {{count}}
%div.col-xs-6
  %span
    {{subject[index].lessons[count].topic}}

  %span
    {{subject[index].lessons[count].percent}}%
%div.col-xs-6
  %span
    {{subject[index].lessons[count+1].topic}}

  %span
    {{subject[index].lessons[count+1].percent}}%